@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes merge {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translate(var(--tw-translate-x), var(--tw-translate-y));
  }
}

body {
  background-color: #F9F9FB;
  color: #1A1A1A;
}
